<!DOCTYPE html>
<html>
  <head>
    <title>Cartpro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'index.css' %>
   <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Vinyl&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container">
  <header>


      <nav class="top-nav">
        <div class="row d-flex justify-content-between my-3">
                <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="fa fa-bars"></span> Menu
                </button> %>

                <div class="nav-links-container col-5">
                    <ul class="nav-ul d-flex justify-content-between ps-0">
                      <li class="nav-item active"><a href="#" class="nav-link ps-0">Home</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">Cart</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">Checkout</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                    </ul>
                </div>

                <div class="top-nav-logo col-2">
                    <a class=" logo logo-f-family" href="index.html">CartPro</a>
                </div>

                <div class="social-media col-5">
                 <p class="mb-0 d-flex justify-content-end">
                  <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="bi bi-facebook"></i></span></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="bi bi-twitter"></i></span></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="bi bi-instagram"></i></span></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="bi bi-dribbble"></i></span></a>
                 </p>
                </div>

          
        </div>

      </nav>
  </header>


  <%= yield %>

  </div>
  </body>
</html>
